.img {
    display: inline-block;
    cursor: pointer;
}

.body-container {
    background-color: #ffe8f1;
}

.img {
    width: 700px;
    height: auto;
    transition: transform 0.3s;
    padding: 75px 600px;
}

.img:hover{
    transform: scale(1.05);
}

.h1 {
    position:absolute;
    text-align: center;
    text-transform: uppercase;
    color: black;
    padding: 0px 835px;
}